{% extends 'base.html' %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.0/css/font-awesome.css"
    integrity="sha512-72McA95q/YhjwmWFMGe8RI3aZIMCTJWPBbV8iQY3jy1z9+bi6+jHnERuNrDPo/WGYEzzNs4WdHNyyEr/yXJ9pA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock head %}

{% block body %}

<h1>Expense Tracker</h1>

{% if request.user.is_authenticated%}
<a href="{% url 'logout' %}">Logout</a>
{% endif %}

<div class="container">
    <div class="header">
        <img src="https://i.ibb.co/jfScDTC/budget.png" alt="Expense Tracker" />
        <div class="balance-container">
            <h2>Your Balance</h2>
            <h2 id="balance" class="balance">${{balance}}</h2>
        </div>
    </div>
    <div class="inc-exp-container">
        <div>
            <h4>Income</h4>
            <p id="money-plus" class="money plus">+${{income}}</p>
        </div>
        <div>
            <h4>Expenses</h4>
            <p id="money-minus" class="money minus">${{expense}}</p>
        </div>
    </div>
    <h3>History</h3>
    <ul id="list" class="list">
        {% for transaction in transactions %}
        <li class="{% if transaction.isNegative %} minus {% else %} plus {% endif %}">
            <span>{{transaction.description}}</span>
            <span>{{transaction.amount}}</span>
            <button class="delete-btn"><a href="{% url 'delete' transaction.id %}"><i class="fa fa-times"></i></a></button>
        </li>
        {% endfor %}
    </ul>
    <h3>Add new transaction</h3>

    <form id="form" method="post">

        {% csrf_token %}

        <div class="form-control">
            <label for="text">Description</label>
            <input name="description" type="text" id="text" placeholder="Enter description..." required />
        </div>
        <div class="form-control">
            <label for="amount">Amount <br />
                <small>(-100 = expense, 100 = income)</small></label>
            <input name="amount" type="number" id="amount" placeholder="Enter amount..." required />
        </div>
        <button class="btn" type="submit">Add transaction</button>
    </form>
</div>
<!-- Notification -->
<div class="notification-container" id="notification">
    <p>Please add a description and amount</p>
</div>

<script>

    {% if messages %}
    {% for message in messages %}
    alert("{{ message|safe }}");
    {% endfor %}
    {% endif %}

</script>


{% endblock %}