{% extends 'base.html' %}

{% block head %}
    <title>Login form</title>
{% endblock head %}


{% block body %}
    <form method="post">
        {% csrf_token %}
        {% for f in form %}
        {{f.label}} {{f}} {{f.errors}}
        <br><br>
        {% endfor %}

        <button type="submit">Login</button>
    </form>

    <a href="{% url "signup" %}">Sign up </a>

    {% if messages %}
        {% for message in messages %}
        <script>
            alert("{{message}}");
        </script>    
        {% endfor %}
    {% endif %}

{% endblock body %}